/*********************************** GENERAL ***********************************/

html {
  height: 100%;
  width: 100%;
}
home::before {
  display: block;
  content: "";
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

/*********************************** HOME ***********************************/
}
/*********************************** REGISTER ***********************************/
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/images/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-success {
  width: 40%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  border: 10px solid black;
}

/*********************************** LOGIN ***********************************/
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/images/login-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-btn,
.register-btn {
  font-size: 1.5rem;
  padding: 30px 55px;
}

.error-msg {
  color: red;
}

/*********************************** WELCOME ***********************************/
.welcome {
  min-height: 100%;
  width: 100%;
  background-image: url("/src/images/welcome-img-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-nav {
  font-size: 23px;
}

.welcome-nav-bg {
  background-color: burlywood !important;
}

.info-clicked {
  width: 40%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  border: 10px solid black;
  background-color: rgb(207, 81, 81) !important;
}

.info-header {
  font-size: 25px;
  color: aquamarine !important;
}

.info-icon {
  margin-right: 40px;
}

.span-link {
  cursor: pointer;
}

.quizera-brand {
  font-size: 24px;
}

/*********************************** QUIZ ***********************************/
.quiz {
  height: 100%;
  /* TO GIVE HEIGHT TO CHILD OF A MIN-HEIGHT PARENT */
  /*  */
  width: 100%;
  text-align: left;
  background-image: url("/src/images/quiz-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-container {
  height: 100%;
  width: 80%;
}

.question {
  min-width: 100%;
  min-height: 40%;
}

.question div {
  border: 4px solid white;
}

.timer {
  border: 4px solid white;
  background-color: rgb(233, 167, 167) !important;
  font-size: 20px;
  color: white !important;
  position: absolute;
  left: 5px;
}

form {
  height: 100%;
}

.answers {
  width: 100%;
  min-height: 45%;
}

.answer {
  flex-basis: 50%;
}

.answer button {
  border: 10px solid transparent;
  background-color: white !important;
  color: black !important;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.answer button:focus {
  border: 10px solid grey;
}

.answer button:disabled {
  pointer-events: none !important;
}

.next-btn {
  font-size: 25px;
}

.next-btn button {
  background-color: purple !important;
  border: 5px solid transparent;
}

.next-btn button:hover {
  background-color: rgb(78, 41, 78) !important;
}

.next-btn button:disabled {
  border: 5px solid black !important;
  background-color: transparent !important;
}

/*********************************** ANSWER ***********************************/
.true-answer {
  border: 10px solid green !important;
}

.false-answer {
  border: 10px solid red !important;
}

/*********************************** RESULTS ***********************************/
.results {
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("/src/images/results-imgg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.results-page {
  border: 10px solid saddlebrown;
  background-color: bisque;
}

.results-back-btn {
  position: absolute;
  top: 15px;
  left: 15px;
}

.result-text {
  font-size: 28px;
}

.btn-back-welcome {
  left: 0;
  top: 20%;
}

/*********************************** LEADER-BOARD ***********************************/

.leader-board {
  height: 100vh;
  width: 100vw;
  background-image: url("/src/images/leader-board-img-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading-spinner {
  font-size: 20px;
  padding: 90px;
}

@media only screen and (min-width: 768px) {
  .register .container {
    position: relative;
  }
  .welcome {
    position: relative;
  }
  .btn-back-welcome {
    position: absolute;
    left: 30;
  }
}

@media (max-width: 768px) {
  .quiz {
    background: none;
  }

  .quiz-container {
    width: 100%;
  }

  .question {
    margin-top: 5px;
  }

  .answers .row {
    margin-left: 5px;
    margin-right: 0;
  }

  .answer {
    flex-basis: 100%;
  }

  .answer button:focus {
    border: 10px solid slategrey;
  }
  /*  on mobile focus not working  */
  .answer button:hover {
    border: 10px solid slategrey;
  }
  .register-success {
    width: 90%;
  }
  .info-clicked {
    width: 90%;
  }
}
